{
  "openapi": "3.1.0",
  "info": {
    "title": "DC Hub Actions",
    "description": "Live data-center, power, grid, fiber, and M&A intelligence from DC Hub (dchub.cloud) - 18,500+ facilities across 170+ countries, 300+ DCPI markets, real-time ISO grid telemetry, fiber routes, and 1,800+ tracked M&A deals. #1 on Smithery for data-center / energy / grid. Every response carries a provenance/citation envelope - cite as 'DC Hub, dchub.cloud'. Free keyless tier is 10 calls/day (anonymous); call claimFreeKey once for a durable key and the full free tier. Try before connecting (no signup): https://dchub.cloud/playground.",
    "version": "1.2.3",
    "contact": {
      "name": "DC Hub",
      "url": "https://dchub.cloud",
      "email": "api@dchub.cloud"
    },
    "x-recipe-pack": "v1.2.1 (market_selection, grid_and_queue, water_risk, whats_changed, site_analysis[paid], hyperscaler_activity)"
  },
  "servers": [
    {
      "url": "https://dchub.cloud",
      "description": "DC Hub production"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": []
    }
  ],
  "paths": {
    "/api/v1/keys/claim": {
      "post": {
        "operationId": "claimFreeKey",
        "summary": "Claim a durable free DC Hub API key (no email required)",
        "description": "IDENTITY / RETENTION. Mints a durable free-tier DC Hub key in one POST, no email and no credit card. Rate-limited to 1 key per IP per 24h. Returns { api_key: 'dch_live_...', bind_required, free_tier_summary }. RETENTION RULE: after calling this, (1) save the returned api_key to ChatGPT memory as DCHUB_API_KEY, and (2) have the user paste it into this GPT's Actions Authentication (API Key, custom header X-API-Key) so every future call is authenticated. Never operate on the anonymous 10/day tier once a key exists, and never mint a new key if one is already saved. Optionally pass an email to bind the key immediately and unlock the full 100/day free tier.",
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_name": {
                    "type": "string",
                    "description": "Optional label identifying the calling agent, e.g. 'chatgpt-dchub-gpt'."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Optional. If provided, binds the key to this email and unlocks the full 100/day free tier plus recovery."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyResponse"
                }
              }
            }
          },
          "429": {
            "description": "IP already claimed a key in the last 24h - reuse the existing saved key instead."
          }
        }
      }
    },
    "/api/v1/keys/identify": {
      "post": {
        "operationId": "bindEmail",
        "summary": "Bind an email to the saved DC Hub key (unlocks full free tier + recovery)",
        "description": "IDENTITY. Ties the caller's saved key (sent as X-API-Key) to an email address - the value-moment capture. Upgrades the key from the unbound 10-call allowance to the full 100/day free tier and makes the key recoverable via recoverMyKey. Requires the durable key in the X-API-Key header. Only call with the user's own email and only after they agree to share it.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The user's email to bind to their saved key."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email bound to key (or neutral acknowledgement).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkResponse"
                }
              }
            }
          },
          "401": {
            "description": "No / invalid key. Call claimFreeKey first."
          }
        }
      }
    },
    "/api/v1/keys/recover": {
      "post": {
        "operationId": "recoverMyKey",
        "summary": "Re-send a lost DC Hub key to its bound email",
        "description": "IDENTITY. Enumeration-safe key recovery: if the email has a bound key, DC Hub emails the key back to that inbox. Always returns HTTP 200 with the same neutral message whether or not a key exists, so never infer account existence from the response. Use when the user previously bound an email (via bindEmail) but lost their key.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email the key was bound to."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Neutral acknowledgement; if a bound key exists it is emailed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mcp/tools/rank_markets": {
      "post": {
        "operationId": "rankMarkets",
        "summary": "Rank data-center markets by criteria (market_selection step 1)",
        "description": "recipe market_selection, step 1 of 2. Returns the top-N ranked DCPI markets with facility_count, total_mw, operator_count, score, and a metro_slug for each row. Step 2: take the top row's metro_slug and call getMarketDcpiRank with it for the full DCPI score. Cite 'DC Hub, dchub.cloud'.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "region": {
                    "type": "string",
                    "description": "Region filter, e.g. 'us', 'uk', 'eu'. Default 'us'."
                  },
                  "criteria": {
                    "type": "string",
                    "description": "Ranking criterion, e.g. 'best_overall', 'cheapest_power', 'most_headroom'. Default 'best_overall'."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "How many markets to return. Default 10.",
                    "minimum": 1,
                    "maximum": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked markets with provenance envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RankMarketsResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaidOnly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidPreview"
                }
              }
            }
          }
        },
        "x-agent": {
          "recipe": "market_selection",
          "step": 1,
          "next": [
            "getMarketDcpiRank"
          ],
          "returns": [
            "markets",
            "citation"
          ]
        }
      }
    },
    "/api/v1/dcpi/scores/{slug}": {
      "get": {
        "operationId": "getMarketDcpiRank",
        "summary": "Full DCPI score for one market (market_selection step 2)",
        "description": "recipe market_selection, step 2 of 2. Returns the full DC Hub Power Index (DCPI) breakdown for a single market: composite_score, constraint_score, excess_power_score, avg_kwh_cents, curtailment_pct, data_basis and computed_at. Pass the metro_slug from a rankMarkets row (e.g. 'ashburn') or a market slug (e.g. 'ashburn-va'). Cite 'DC Hub, dchub.cloud'.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Market slug - metro_slug from rankMarkets (e.g. 'ashburn') or market slug (e.g. 'ashburn-va')."
          }
        ],
        "responses": {
          "200": {
            "description": "DCPI score with provenance envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDcpiRankResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaidOnly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidPreview"
                }
              }
            }
          }
        },
        "x-agent": {
          "recipe": "market_selection",
          "step": 2,
          "returns": [
            "verdict",
            "composite_score",
            "narrative",
            "citation"
          ]
        }
      }
    },
    "/api/v1/grid/snapshot": {
      "get": {
        "operationId": "getGridScoreboard",
        "summary": "Live cross-ISO grid scoreboard (grid_and_queue)",
        "description": "recipe grid_and_queue. Live ranked scoreboard of every tracked grid/ISO (US: ERCOT, PJM, CAISO, MISO, SPP, NYISO, ISO-NE; plus UK, EU, Japan, Korea, Taiwan, Brazil, Australia, Singapore) - latest metrics organized by ISO: demand, fuel mix, renewable share. Keyless callers get only the headline; a saved key unlocks the full generation mix and per-zone breakdown. If the body has gated:true, render its 'message' and surface upgrade_url. Cite 'DC Hub, dchub.cloud'.",
        "responses": {
          "200": {
            "description": "Grid scoreboard (may be gated to a headline without a key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GridScoreboardResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaidOnly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidPreview"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/grid-intelligence/{region_id}": {
      "get": {
        "operationId": "getGridIntelligence",
        "summary": "Full grid intelligence for one ISO/region (grid_and_queue)",
        "description": "recipe grid_and_queue. Deep grid intelligence for a single ISO/region: headroom, constraints, generation additions, and forward signals. Free tier is capped at 10 calls/day for this tool. Pass a region id such as 'ercot', 'pjm', 'caiso', 'miso', 'spp', 'nyiso', 'isone', 'uk', 'eu', 'au'. Cite 'DC Hub, dchub.cloud'.",
        "parameters": [
          {
            "name": "region_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ISO/region id, e.g. 'ercot', 'pjm', 'caiso', 'miso', 'spp', 'nyiso', 'isone', 'uk', 'eu', 'au'."
          }
        ],
        "responses": {
          "200": {
            "description": "Grid intelligence with provenance envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GridIntelligenceResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaidOnly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidPreview"
                }
              }
            }
          }
        },
        "x-agent": {
          "recipe": "grid_and_queue",
          "step": 1,
          "next": [
            "getRefinedQueue"
          ],
          "returns": [
            "grid",
            "citation"
          ]
        }
      }
    },
    "/api/v1/interconnection-queue/snapshot": {
      "get": {
        "operationId": "getInterconnectionQueue",
        "summary": "Interconnection queue snapshot (grid_and_queue)",
        "description": "recipe grid_and_queue. Snapshot of generation/load projects in the ISO interconnection queues (queued capacity by ISO, fuel, and status) - the leading indicator of where new power is coming online. Optionally filter with ?iso=. For the de-duplicated, analyst-cleaned view use getRefinedQueue. Cite 'DC Hub, dchub.cloud'.",
        "parameters": [
          {
            "name": "iso",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional ISO filter, e.g. 'ercot', 'pjm', 'miso'."
          }
        ],
        "responses": {
          "200": {
            "description": "Queue snapshot with provenance envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterconnectionQueueResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaidOnly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidPreview"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/interconnection-queue/refined": {
      "get": {
        "operationId": "getRefinedQueue",
        "summary": "Refined (de-duplicated) interconnection queue (grid_and_queue)",
        "description": "recipe grid_and_queue. The refined interconnection queue: de-duplicated and normalized across ISOs so counts and MW are comparable market-to-market. Optionally filter with ?iso= and cap with ?limit=. Cite 'DC Hub, dchub.cloud'.",
        "parameters": [
          {
            "name": "iso",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional ISO filter."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            },
            "description": "Optional row cap."
          }
        ],
        "responses": {
          "200": {
            "description": "Refined queue with provenance envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefinedQueueResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaidOnly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidPreview"
                }
              }
            }
          }
        },
        "x-agent": {
          "recipe": "grid_and_queue",
          "step": 2,
          "returns": [
            "queue_results",
            "citation"
          ]
        }
      }
    },
    "/api/v1/water/drought": {
      "get": {
        "operationId": "getWaterRisk",
        "summary": "Water / drought risk for a state or county (water_risk)",
        "description": "recipe water_risk. Current U.S. Drought Monitor severity (water-supply risk) for a state or county - the water-availability read for a candidate data-center site. Pass ?state= (2-letter, e.g. 'VA') and optionally ?county=. For point-level WRI water-stress scoring use a site analysis. Cite 'DC Hub, dchub.cloud'.",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "2-letter US state code, e.g. 'VA', 'TX', 'AZ'."
          },
          {
            "name": "county",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional county name to narrow the read."
          }
        ],
        "responses": {
          "200": {
            "description": "Drought / water-risk read with provenance envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaterRiskResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaidOnly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidPreview"
                }
              }
            }
          }
        },
        "x-agent": {
          "recipe": "water_risk",
          "step": 1,
          "returns": [
            "water_risk",
            "citation"
          ]
        }
      }
    },
    "/api/v1/fiber/intel": {
      "get": {
        "operationId": "getFiberIntel",
        "summary": "Dark / long-haul fiber intelligence for a state or area",
        "description": ". Fiber-route intelligence - long-haul and metro dark-fiber corridors, carriers, and route density for a state or bounding box. Free tier is capped at 10 calls/day for this tool; deeper detail is gated (surface 'message'/upgrade_url on 402 or gated bodies). Pass ?state= (e.g. 'VA') or ?bbox=w,s,e,n. Cite 'DC Hub, dchub.cloud'.",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "2-letter US state code, e.g. 'VA'."
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional viewport as 'west,south,east,north'."
          }
        ],
        "responses": {
          "200": {
            "description": "Fiber intelligence (teaser on free tier) with provenance envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiberIntelResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaidOnly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidPreview"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/changes/since": {
      "get": {
        "operationId": "getChanges",
        "summary": "What changed since a timestamp (whats_changed)",
        "description": "recipe whats_changed. Returns only what is new/changed since a prior pull: DCPI market movers, new facilities, new pipeline, and new news counts, plus a 'generated_at' cursor. Cache generated_at and pass it back as ?since=<that value> next session to get just the deltas (if total_changes is 0 your last pull is still fresh). Cite 'DC Hub, dchub.cloud'.",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO timestamp from a prior response's generated_at, or a window like '7d'."
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90
            },
            "description": "Alternative to 'since': look back this many days."
          }
        ],
        "responses": {
          "200": {
            "description": "Delta feed with a generated_at cursor and provenance envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangesResponse"
                }
              }
            }
          }
        },
        "x-agent": {
          "recipe": "whats_changed",
          "step": 1,
          "returns": [
            "changes",
            "citation"
          ]
        }
      }
    },
    "/api/v1/hyperscaler-deals": {
      "get": {
        "operationId": "getHyperscalerDeals",
        "summary": "Recent hyperscaler / $1B+ data-center deals (hyperscaler_activity)",
        "description": "recipe hyperscaler_activity. Recent large-scale data-center and hyperscaler deals and news (actors, capacity, value_usd, source, published) from DC Hub's 1,800+ tracked M&A deals. Optionally cap with ?limit= or floor with ?min_value_usd=. Deeper deal autopsy detail may be gated. Cite 'DC Hub, dchub.cloud'.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            },
            "description": "Max deals to return."
          },
          {
            "name": "min_value_usd",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Only deals at or above this USD value."
          }
        ],
        "responses": {
          "200": {
            "description": "Recent deals with provenance envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HyperscalerDealsResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaidOnly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidPreview"
                }
              }
            }
          }
        },
        "x-agent": {
          "recipe": "hyperscaler_activity",
          "step": 1,
          "returns": [
            "deals",
            "citation"
          ]
        }
      }
    },
    "/api/site-score": {
      "get": {
        "operationId": "analyzeSite",
        "summary": "Composite site suitability score for a lat/lng (site_analysis, PAID)",
        "description": "recipe site_analysis. PAID-ONLY. Composite data-center site-suitability score for a specific point (power, grid headroom, water, fiber, hazards) at given coordinates. On the free tier this returns HTTP 402 with an agent_action to claim/upgrade - do NOT fabricate a score; render the response's message and surface the upgrade_url ($10 one-time = 1,000 calls, or $9/mo). Pass ?lat= and ?lng=. Cite 'DC Hub, dchub.cloud'.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Latitude in decimal degrees."
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Longitude in decimal degrees."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional site label."
          }
        ],
        "responses": {
          "200": {
            "description": "Composite site score with provenance envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteAnalysisResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaidOnly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaidPreview"
                }
              }
            }
          }
        },
        "x-agent": {
          "recipe": "site_analysis",
          "step": 1,
          "returns": [
            "site",
            "citation"
          ]
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Durable DC Hub key (format dch_live_*) from claimFreeKey. Configure in this GPT's Actions Authentication as API Key, header name X-API-Key. (DC Hub also accepts Authorization: Bearer <key>, but configure only ONE auth method in the GPT to avoid conflicts.)"
      }
    },
    "responses": {
      "PaidOnly": {
        "description": "Metered / paid-only depth. Body carries the human-facing upgrade message and a machine-actionable next step. Render 'human_message' or 'message' verbatim to the user and surface 'upgrade_url' / 'agent_action.url'. Do NOT fabricate the withheld data.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "gated": {
                  "type": "boolean"
                },
                "tier_required": {
                  "type": "string"
                },
                "message": {
                  "type": "string",
                  "description": "Human-facing explanation of what is gated (REST transport)."
                },
                "human_message": {
                  "type": "string",
                  "description": "Human-facing explanation (MCP transport field name)."
                },
                "upgrade_url": {
                  "type": "string",
                  "description": "One-click checkout: $10 one-time = 1,000 calls, or $9/mo Starter."
                },
                "enterprise_url": {
                  "type": "string"
                },
                "agent_action": {
                  "type": "object",
                  "description": "Machine-actionable next step, e.g. type=claim_free_key with the claim URL to call then retry.",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "method": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "then": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Citation": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "source": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "cite_as": {
            "type": "string",
            "example": "DC Hub, dchub.cloud"
          },
          "retrieved_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Provenance": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "as_of": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "cite_as": {
            "type": "string"
          }
        }
      },
      "Quota": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "tier": {
            "type": "string"
          },
          "resets_at": {
            "type": "string"
          },
          "full_answers_cap_today": {
            "type": "integer"
          },
          "full_answers_remaining_today": {
            "type": "integer"
          }
        }
      },
      "PaidPreview": {
        "type": "object",
        "description": "Structured paid-gate contract. Branch on preview==true and render human_message verbatim; do NOT fabricate withheld fields.",
        "required": [
          "preview",
          "human_message"
        ],
        "additionalProperties": true,
        "properties": {
          "status": {
            "type": "string",
            "example": "paid_preview"
          },
          "preview": {
            "type": "boolean",
            "example": true
          },
          "human_message": {
            "type": "string"
          },
          "upgrade_url": {
            "type": "string"
          },
          "agent_action": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "RankMarketsResponse": {
        "type": "object",
        "additionalProperties": true,
        "description": "Ranked DCPI markets.",
        "properties": {
          "citation": {
            "$ref": "#/components/schemas/Citation"
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "quota": {
            "$ref": "#/components/schemas/Quota"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "MarketDcpiRankResponse": {
        "type": "object",
        "additionalProperties": true,
        "description": "Single-market DCPI verdict + narrative.",
        "properties": {
          "citation": {
            "$ref": "#/components/schemas/Citation"
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "quota": {
            "$ref": "#/components/schemas/Quota"
          },
          "verdict": {
            "type": "string"
          },
          "composite_score": {
            "type": "number"
          },
          "narrative": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "GridScoreboardResponse": {
        "type": "object",
        "additionalProperties": true,
        "description": "Global grid scoreboard, greenest-first.",
        "properties": {
          "citation": {
            "$ref": "#/components/schemas/Citation"
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "quota": {
            "$ref": "#/components/schemas/Quota"
          }
        }
      },
      "GridIntelligenceResponse": {
        "type": "object",
        "additionalProperties": true,
        "description": "Per-ISO grid headroom + queue brief.",
        "properties": {
          "citation": {
            "$ref": "#/components/schemas/Citation"
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "quota": {
            "$ref": "#/components/schemas/Quota"
          },
          "excess_power_score": {
            "type": "number"
          },
          "avg_time_to_power_months": {
            "type": "number"
          },
          "queue_depth_gw": {
            "type": "number"
          }
        }
      },
      "InterconnectionQueueResponse": {
        "type": "object",
        "additionalProperties": true,
        "description": "ISO interconnection-queue snapshot.",
        "properties": {
          "citation": {
            "$ref": "#/components/schemas/Citation"
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "quota": {
            "$ref": "#/components/schemas/Quota"
          }
        }
      },
      "RefinedQueueResponse": {
        "type": "object",
        "additionalProperties": true,
        "description": "Server-reduced queue survivors.",
        "properties": {
          "citation": {
            "$ref": "#/components/schemas/Citation"
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "quota": {
            "$ref": "#/components/schemas/Quota"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "count_returned": {
            "type": "integer"
          }
        }
      },
      "WaterRiskResponse": {
        "type": "object",
        "additionalProperties": true,
        "description": "USGS/USDM water + drought read.",
        "properties": {
          "citation": {
            "$ref": "#/components/schemas/Citation"
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "quota": {
            "$ref": "#/components/schemas/Quota"
          },
          "water_stress_score": {
            "type": "number"
          },
          "drought_category": {
            "type": "string"
          }
        }
      },
      "FiberIntelResponse": {
        "type": "object",
        "additionalProperties": true,
        "description": "Fiber routes / connectivity (GeoJSON).",
        "properties": {
          "citation": {
            "$ref": "#/components/schemas/Citation"
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "quota": {
            "$ref": "#/components/schemas/Quota"
          }
        }
      },
      "ChangesResponse": {
        "type": "object",
        "additionalProperties": true,
        "description": "Incremental delta since a timestamp.",
        "properties": {
          "citation": {
            "$ref": "#/components/schemas/Citation"
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "quota": {
            "$ref": "#/components/schemas/Quota"
          },
          "total_changes": {
            "type": "integer"
          },
          "diff": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "SiteAnalysisResponse": {
        "type": "object",
        "additionalProperties": true,
        "description": "Full multi-factor site suitability read.",
        "properties": {
          "citation": {
            "$ref": "#/components/schemas/Citation"
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "quota": {
            "$ref": "#/components/schemas/Quota"
          },
          "composite_score": {
            "type": "number"
          },
          "verdict": {
            "type": "string"
          }
        }
      },
      "HyperscalerDealsResponse": {
        "type": "object",
        "additionalProperties": true,
        "description": "Live $1B+ AI-capex deal feed.",
        "properties": {
          "citation": {
            "$ref": "#/components/schemas/Citation"
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "quota": {
            "$ref": "#/components/schemas/Quota"
          }
        }
      },
      "KeyResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "api_key": {
            "type": "string"
          },
          "header": {
            "type": "string"
          },
          "daily_limit": {
            "type": "integer"
          }
        }
      },
      "OkResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}